In [1]:
import pandas as pd
from utils_common import get_db_engine

# Suppresses the GPU-related warning messages that TensorFlow produces
import warnings
warnings.filterwarnings('ignore')

In [6]:
def drop_summary_rows(df):
# Data contains state-level summaries, identified by the County showing the full State name.
# This removes those rows.
    for (idx, row) in df_states.iterrows():
        state, code = row.loc[['State', 'Code']]
        droprow = df.loc[(df['County'] == state) & (df['State'] == code)].index
        df = df.drop(droprow)
        return df

In [2]:
# Redundant or troublesome once it's been rolled into Final Project
try:
    db_engine = get_db_engine()
except Exception as e:
    print(f"\nFailed to connect to database engine.\n", e)

In [3]:
file_states = 'Resources/States.csv'
df_states = pd.read_csv(file_states)
df_states.to_sql(name='states', con=db_engine, if_exists='replace', index=False)
df_states.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [4]:
file_vet_pop = 'Resources/veterans_pop_loc.csv'
df_vet_pop = pd.read_csv(file_vet_pop)
df_vet_pop.to_sql(name='vet_pop_unconditioned', con=db_engine, if_exists='replace', index=False)

In [7]:
df_vet_pop = df_vet_pop.drop('Unnamed: 0', axis=1)

In [9]:
df_vet_pop = drop_summary_rows(df_vet_pop)

,State,County,Latitude,Longitude,TotalVets,VeteranPopulationPct,MaleVetsPct,FemaleVetsPct,WhiteVetsPct,BlackVetsPct,HispanicVetsPct,OtherRaceVetsPct,LessThanHSVetsPct,HighSchOnlyVetsPct,SomeCollegeVetsPct,CollegeDegreeVetsPct,EmployeedVetsPct,UnemployeedVetsPct
1,AL,Autauga,32.601011,-86.680736,5272.0,12.635111,87.253414,12.746586,84.028832,9.673748,5.576631,1.119120,3.007812,20.859375,31.621094,44.511719,86.549340,3.558460
2,AL,Baldwin,32.601011,-86.680736,19663.0,11.815500,92.147689,7.852311,90.621980,5.360321,1.439251,2.929360,3.612916,27.659792,36.676731,32.050560,74.927707,3.430532
3,AL,Barbour,32.601011,-86.680736,1328.0,6.622120,92.093373,7.906627,59.563253,37.349398,1.054217,3.087349,12.349398,39.834337,36.746988,11.069277,49.752066,9.966777
4,AL,Bibb,32.601011,-86.680736,1433.0,8.022618,95.882763,4.117237,79.134682,18.492673,2.372645,0.000000,6.901510,54.708843,22.286125,16.103523,56.901408,0.000000
5,AL,Blount,32.601011,-86.680736,3417.0,7.720813,91.776412,8.223588,94.293240,1.287679,2.985075,2.985075,11.655901,33.734586,38.667058,15.942454,64.528302,7.309942

In [ ]:
file_vet_pop = 'Resources/veterans_pop_loc.csv'
df_vet_pop = pd.read_csv(file_vet_pop)
df_vet_pop.to_sql(name='vet_pop_unconditioned', con=db_engine, if_exists='replace', index=False)